

.viewContainer{
  display: flex;
justify-content: center;
align-items: center;
  height: 100%;
  width: 100%;
}



.chartContainer{
  position: relative;
  left: 12%;
}

.coindata{
  text-align:right ;
  padding-right: 10px;
}

.coinprice{
  font-size: 8.5em;
  font-weight: bold;
  margin-left: 15px;
}

.coinTitle{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0;
  width: auto;
  background-color: transparent;
  box-shadow: none; /* Remove the card shadow if needed */
}

.coinName{
  font-size: x-large;
}

