

.viewContainer{
  display: flex;
justify-content: center;
align-items: center;
  height: 100%;
  width: 100%;
}



.chartContainer{
  position: relative;
  left: 12%;
}

.coindata{
  text-align:right ;
  padding-right: 10px;
}