.login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.login-button {
    width: calc(100% - 7px);
    --padding-start: 10px;
    /* Add left padding */
    --padding-end: 10px;
    height: 45px;
    margin-top: 30px;
}

.login-logo-img {
    width: 100%;

}

.login-link {
    align-self: flex-end;
    --padding-end: 12px;

}

.auth-select-button {
    color: var(--ion-color-primary); /* Default color for buttons */
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .auth-select-button.active {
    color: var(--ion-color-primary); /* Highlight the active button */
    text-decoration: underline; /* Underline when active */
  }


.login-label {
    align-self: flex-start;
    /* Align the label to the start */
    margin-bottom: 5px;
    /* Add some space below the label */
    padding-left: 6px;
}

.login-input {
    margin-bottom: 35px;
    background-color: black;
    border-radius: 5px;
    width: calc(100% - 7px);
    /* Adjust width to account for padding */
    --padding-start: 10px;
    /* Add left padding */
    --padding-end: 10px;
    /* Add right padding */
    height: 50px;


}