<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list>
    <ion-item *ngFor="let crypto of displayedCryptos">
      <ion-label>
        <div style="display:flex">
          <div style="flex: 0 0 auto; margin-right: 10px;" >
            <img [src]="crypto.image" alt="crypto.name" style="width: 30px; height: 30px;">
          </div>
          <div style="flex:1;">
        <h2>{{ crypto.name}}</h2>
        <p>{{ crypto.id}}</p>
      </div>
        </div>
        
      </ion-label>
    </ion-item>
    
  </ion-list>

<div style="padding: 0px;">
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onPageChange($event)" aria-label="Select page">
    </mat-paginator>
  </div>
  
</ion-content>