<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="explore" href="home/explore">
      <ion-icon name="logo-bitcoin"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>


  <ion-tab-button tab="search" href="home/search">
      <ion-icon name="search"></ion-icon>
            <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="watchlist" href="home/watchlist">
      <ion-icon name="eye-outline"></ion-icon>
      <ion-label>Watchlist</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="home/settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  

  </ion-tab-bar>
</ion-tabs>
<ion-fab horizontal="end" slot="fixed">
  <ion-fab-button  (click)="openChatbot()">
    <ion-icon name="information-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>
<app-chatbot *ngIf="isChatbotVisible"></app-chatbot>