.logout-button {
    font-weight: bold;
    margin:0 auto;
}

.settings-card {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    /* Start from bottom to top */
    justify-content: flex-start;
    /* Align items to the start of the container */
    height: 100%;
    /* Ensure the container takes the full viewport height */
}


ion-item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto; 
    border-radius: 5px;
    width: 96%;
    margin-bottom: 12px;
}

